* text=auto eol=lf
*.sh      text eol=lf
*.py      text eol=lf
*.cql     text eol=lf
*.yaml    text eol=lf
*.yml     text eol=lf
*.md      text eol=lf
*.jsonl   text eol=lf
Dockerfile text eol=lf
*.png     binary
*.tar.gz  binary
